.dropdown{
    min-width: 15em;
    position: absolute;
    margin: 2em;
}

.dropdown *{
    box-sizing: border-box;
}

.select{
    background-color: #DBE1E3;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #DBE1E3 solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked{
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
}

.select:hover{
    background: #a9acb1;
}

.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.caret-rotate{
    transform: rotate(180deg);
}

.menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: #DBE1E3;
    border: 1px #BFC4C5 solid;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;    
    width: 100%;
    transform: translateX(-50%);
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li{
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover{
    background: #2a2d35;
}

.menu-open{
    display: block;
    opacity: 1;
}

.dropdown:hover .menu{
    display: block;
    transition: 0.2s;
    z-index: 1;
}

.menuCalendar{
    padding: 0.2em 0.5em;
    background: #DBE1E3;
    border: 1px #BFC4C5 solid;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    left: 50%;    
    transform: translateX(-50%);
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menuCalendar li{
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menuCalendar li:hover{
    background: #2a2d35;
}

.menuCalendar-open{
    display: block;
    opacity: 1;
}

.dropdown:hover .menuCalendar{
    display: block;
    transition: 0.2s;
    z-index: 1;
}